extend base.pug
block scripts 
block style 
    style
        include ../static/css/style.css 
        include ../static/css/styleabout.css 
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
block content 
    section#aboutus 
        div#put
            h1 About Us 
        div#about 
            p This is an improved version of my college project. While the college project was made in team co-ordination. this project is soley made by me.
block footer 
    footer#aboutfoot 
        p  Copyright@2023 CoolMiniGames.com | All rights reserved                  