<!DOCTYPE html>
<html>
<head>
    <title>Sonic Jump</title>
    <link rel="stylesheet" href="static/css/stylepika.css">
</head>
<body>
    <div id="game-container">
        <div id="stick-figure"></div>
        <div class="cactus"></div>
        <div id="score">Score: 0</div>
    </div>
      <script src = "static/js/pika.js" ></script>
</body>
</html>
